html, body {
  background: white;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

.app {
  padding: 100px;
}

.block-content {
  color: white;
  padding: 20px;
}

.block-content p {
  margin-bottom: 2em;
}